@import '../partials/reset';
@import '../partials/mixins';
@import '../partials/vars';

/* ==========================================================================
   Base
   ========================================================================== */

body { background: @color-bg-page; }

html, body {
    width: 100%;
    position: relative;
    height: 100%;

    letter-spacing: 0;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.8);
    line-height: 1.4;
    font-size: 14.5px;
}

a, p, h1, h2, h3, h4, h5, span, ul, li {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.chatlio-clear {
    display: none;
}

.userback-button-container {
    .userback-powered-by {
        display: none;
    }

    .userback-controls-rating:before {
        display: none !important;
    }

    .userback-controls-send, .userback-controls-back {
        color: #FFF !important;
        background-color: rgb(34, 44, 60)  !important;
        text-decoration: none  !important;
        width: 100px;
        height: 40px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        width: 50% !important;
        margin: 0 !important;
        border-radius: 0 !important;
        font-size: 12px !important;
        font-weight: normal !important;
        letter-spacing: normal !important;
        word-spacing: normal !important;
        font-family: 'Proxima Nova', sans-serif !important;

        &:hover {
            background-color: rgba(34, 44, 60, 0.95) !important;
        }
    }

    .userback-controls-back {
        border-left: 1px solid rgba(255, 255, 255, 0.20);
    }
}


@media (max-width: @screen-mobile-max) {
    .userback-button-container .userback-button {
        height: 20px !important;
        line-height: 20px !important;
    }
}
